.search-button {
    height: 48px;
    width: 695px;
    left: 445px;
    top: 24px;
    border-radius: 100px;
    background-color: #EEEEEE;
    border: none;
    text-indent: 30px;
}

.search-button>span {
    float: left;
    padding-left: 40px;
    color: #B0B0B0;
}

.search-button:focus {
    border: none;
    outline: none;
  }